version: "3.9"
services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  backend:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379