spring:
  application:
    name: nba-backend

  profiles:
    active: dev

  cloud:
    aws:
      region:
        static: us-west-2

aws:
  secret-name: nba/balldontlie

---
spring:
  config:
    activate:
      on-profile: dev

  data:
    redis:
      host: redis
      port: 6379
      timeout: 6000

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: prod

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080
